<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div class="container text-center">
        <h1 style="padding:15px 0">[[#{add.platform}]]</h1>
        <div style="width: 40%" class="container text-center">
            <form th:object="${platform}" th:action="@{saveplatform}" action="#" method="post">
                <div class="form-floating mb-2">
                    <input class="form-control" type="text" id="name" th:field="*{platformName}"/>
                    <div style="padding-top: 5px" th:if="${#fields.hasErrors('platformName')}" th:errors="*{platformName}"></div>
                    <label for="name">[[#{name}]]</label>
                </div>
                <input class="btn btn-primary" type="submit" th:value="#{save}" />
                <a style="padding: 15px" type="button" class="btn" href=/platformlist>[[#{cancel}]]</a>
            </form>
        </div>
    </div>
</body>

</html>