<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container text-center">
        <h1 style="padding:15px 0">Edit Platform</h1>
        <div style="width: 40%" class="container text-center">
            <form th:object="${platform}" th:action="@{/saveplatform}" action="#" method="post">
                <div class="form-floating mb-3">
                    <input type="hidden" id="id" th:field="${platform.platformId}" readonly="readonly">
                    <label for="id"></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="name" th:field="*{platformName}" />
                    <label for="name">Name</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
                <a style="padding: 15px" type="button" class="btn" href=/platformlist>Cancel</a>
            </form>
        </div>
    </div>
</body>

</html>