<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div class="container text-center">
        <h1 style="padding:15px 0">[[#{edit.game}]]</h1>
        <div style="width: 40%" class="container text-center">
            <form th:object="${game}" th:action="@{/editgamesave}" action="#" method="post">
                <div class="form-floating mb-3">
                    <input type="hidden" id="id" th:field="${game.id}" readonly="readonly">
                    <label for="id"></label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="name" th:field="*{name}" />
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    <label for="name">[[#{name}]]</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="releaseYear" th:field="*{releaseYear}" />
                    <div th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}"></div>
                    <label for="releaseYear">[[#{game.year}]]</label>
                </div>
                <div class="form-floating mb-3">
                    <select style="width: 150px" id="platformList" th:field="*{platform}" class="form-control form-select">
                        <option th:each="platform: ${platforms}" th:value="${platform.platformId}"
                            th:text="${platform.platformName}"></option>
                    </select>
                    <label for="platformList">[[#{game.platform}]]</label>
                </div>
                <div class="form-floating mb-3">
                    <select style="width: 150px" id="genreList" th:field="*{genre}" class="form-control form-select">
                        <option th:each="genre: ${genres}" th:value="${genre.genreId}" th:text="${genre.genreName}">
                        </option>
                    </select>
                    <label for="genreList">[[#{game.genre}]]</label>
                </div>
                <input class="btn btn-primary" type="submit" th:value="#{save}" />
                <a style="padding: 15px" type="button" class="btn" href=/gamelist>[[#{cancel}]]</a>
            </form>
        </div>
    </div>
</body>

</html>