<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div class="container text-center">
        <div th:replace="fragments :: header"></div>
        <div th:replace="fragments :: navigation"></div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Release Year</th>
                <th>Platform</th>
                <th>Genre</th>
            </tr>
            <tr th:each="game: ${games}">
                <td style="width: 35%" th:text="${game.name}"></td>
                <td th:text="${game.releaseYear}"></td>
                <td th:text="${game.platform.platformName}"></td>
                <td th:text="${game.genre.genreName}"></td>
                <td style="width: 10px" sec:authorize="isAuthenticated()"><a
                        th:href="@{/deletegame/{id}(id=${game.id})}">
                        <button>Delete</button>
                    </a></td>
                <td style="width: 10px" sec:authorize="isAuthenticated()">
                    <a th:href="@{/editgame/{id}(id=${game.id})}"><button>Edit</button></a>
                </td>
            </tr>
        </table>
        <a type="button" class="btn btn-primary" sec:authorize="isAuthenticated()" href=/addgame>Add Game</a>
    </div>
</body>

</html>