<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div class="container text-center">
        <div th:replace="fragments :: header"></div>
        <div th:replace="fragments :: navigation"></div>
        <div style="width: 40%" class="container text-center">
            <table class="table table-striped">
                <tr>
                    <th>Genre Name</th>
                </tr>
                <tr th:each="genre: ${genres}">
                    <td th:text="${genre.genreName}"></td>
                    <td style="width: 10px" sec:authorize="isAuthenticated()">
                        <a th:href="@{/deletegenre/{id}(id=${genre.genreId})}">
                            <button>Delete</button>
                        </a>
                    </td>
                    <td style="width: 10px" sec:authorize="isAuthenticated()">
                        <a th:href="@{/editgenre/{id}(id=${genre.genreId})}">
                            <button>Edit</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <a type="button" class="btn btn-primary" sec:authorize="isAuthenticated()" href=/addgenre>Add Genre</a>
    </div>
</body>

</html>