<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-2" style="padding-top:15px">
                <h1>Games</h1>
            </div>
            <div class="col-8" style="padding-top: 25px">
                <div sec:authorize="isAuthenticated()">
                    <h4>Welcome <span sec:authentication="name"></span></h4>
                </div>
            </div>
            <div class="col-1" style="padding-top: 5px">
                <div sec:authorize="isAuthenticated()" style="padding:20px 0">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
                    </form>
                </div>
            </div>
            <div class="col-1" style="padding-top: 20px">
                <a type="button" class="btn btn-primary" sec:authorize="!isAuthenticated()" href=/login>Sign In</a>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-pills justify-content-center" style="padding:20px 0">
                <li class="nav-item">
                    <a class="nav-link" href=/gamelist>Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href=/platformlist>Platforms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/genrelist">Genres</a>
                </li>
            </ul>
        </div>
        <div style="width: 40%" class="container text-center">
            <table class="table table-striped">
                <tr>
                    <th>Platform Name</th>
                </tr>
                <tr th:each="platform: ${platforms}">
                    <td th:text="${platform.platformName}"></td>
                    <td style="width: 10px" sec:authorize="isAuthenticated()"><a
                            th:href="@{/deleteplatform/{id}(id=${platform.platformId})}">
                            <button>Delete</button>
                        </a></td>
                    <td style="width: 10px" sec:authorize="isAuthenticated()"><a
                            th:href="@{/editplatform/{id}(id=${platform.platformId})}">
                            <button>Edit</button>
                        </a></td>
                </tr>
            </table>
        </div>
        <a type="button" class="btn btn-primary" sec:authorize="isAuthenticated()" href=/addplatform>Add Platform</a>
    </div>
</body>

</html>